body {
  overflow: hidden; }

.container {
  display: block;
  width: 100%;
  margin: 0px auto;
  max-width: -webkit-calc(1024px + 40px);
  max-width: calc(1024px + 40px);
  padding: 0 20px; }

.flex-row, .grid-menu, .grid-menu--item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

header#header .header-top .header-top-bar .container .email-wrap:before,
header#header .header-top .header-top-bar .container .phone-numbers-wrap:before, header#header .header-top .header-content.container.flex-row .search-input-wrapper:after {
  content: '';
  position: absolute;
  background-size: cover;
  background-position: center; }

.disabled {
  cursor: not-allowed;
  opacity: .6; }

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main,
div {
  display: block; }

body {
  line-height: 1.15;
  padding-right: 0 !important; }

ol,
ul {
  list-style: none; }

i {
  font-style: italic; }

blockquote,
q {
  quotes: none; }

strong {
  font-weight: bold; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: none; }

::-moz-selection {
  background: #f5eece;
  color: gray; }

::selection {
  background: #f5eece;
  color: gray; }

::-moz-selection {
  background: #f5eece;
  color: gray; }

::-webkit-selection {
  background: #f5eece;
  color: gray; }

a {
  text-decoration: none;
  color: #f34d4a; }

table {
  display: table;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0; }

*,
::after,
::before {
  margin: 0;
  padding: 0;
  outline: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html,
body {
  min-height: 100%;
  min-width: 100%;
  background-color: #ffffff;
  overflow-x: hidden;
  font-family: "Open Sans", "Helvetica", sans-serif; }

select,
button,
input,
textarea {
  -webkit-border-radius: 2px;
  border-radius: 2px;
  font-family: "Open Sans", "Helvetica", sans-serif;
  -webkit-appearance: none;
  border: none; }

button {
  cursor: pointer; }

button:active,
button:focus {
  outline: none; }

button::-moz-focus-inner {
  border: 0; }

.layout {
  position: relative;
  min-height: 100vh; }

main {
  position: relative; }

.z-index-3 {
  z-index: 3; }

.z-index-4 {
  z-index: 4; }

.bg-dimmer {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000;
  width: 100%;
  height: 100%;
  opacity: .91; }

.block {
  background-color: #fff; }

.btn {
  padding: 10px 20px;
  height: 35px;
  background-color: #fd7b7c;
  color: #333;
  font-size: 12px;
  letter-spacing: .5px;
  font-weight: bold;
  text-transform: uppercase;
  -webkit-transition: .2s ease-out;
  transition: .2s ease-out; }
  .btn:hover {
    background-color: #fcf18d; }

header#header .header-top {
  background-color: #f9f9f9; }
  header#header .header-top .header-top-bar {
    border-bottom: 1px solid #e8e8e8; }
    header#header .header-top .header-top-bar .container {
      padding: 10px 20px;
      color: #808080; }
      header#header .header-top .header-top-bar .container .email-wrap,
      header#header .header-top .header-top-bar .container .phone-numbers-wrap {
        position: relative;
        padding-left: 20px; }
        header#header .header-top .header-top-bar .container .email-wrap:before,
        header#header .header-top .header-top-bar .container .phone-numbers-wrap:before {
          width: 12px;
          height: 12px;
          left: 0;
          top: 4px;
          background-image: url(/svg/phone.svg); }
      header#header .header-top .header-top-bar .container .email-wrap:before {
        top: 5px;
        background-image: url(/svg/envelope.svg); }
      header#header .header-top .header-top-bar .container a {
        font-size: 12px;
        color: #1a2122; }
  header#header .header-top .header-content.container.flex-row {
    padding: 20px;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    header#header .header-top .header-content.container.flex-row .mobile-burger {
      width: 30px;
      height: 30px;
      display: none;
      cursor: pointer;
      position: relative;
      margin-top: 1px;
      background-image: url(/svg/menu.svg);
      background-size: cover;
      background-position: center; }
    header#header .header-top .header-content.container.flex-row .search-input-wrapper {
      width: -webkit-calc(100% - 343px);
      width: calc(100% - 343px);
      position: relative; }
      header#header .header-top .header-content.container.flex-row .search-input-wrapper:after {
        right: 15px;
        top: 12px;
        width: 18px;
        height: 18px;
        background-image: url(/svg/search.svg); }
      header#header .header-top .header-content.container.flex-row .search-input-wrapper .mobile-search-icon {
        width: 25px;
        height: 25px;
        display: none;
        cursor: pointer;
        background-size: cover;
        background-image: url(/svg/mobile-search.svg); }
      header#header .header-top .header-content.container.flex-row .search-input-wrapper .site-search-input {
        width: 100%;
        font-size: 14px;
        padding: 10px;
        padding-right: 43px;
        border: 2px solid #e2e2e2;
        background-color: #fff;
        -webkit-transition: .2s ease-out;
        transition: .2s ease-out; }
        header#header .header-top .header-content.container.flex-row .search-input-wrapper .site-search-input:focus {
          border-color: #f34d4a; }
    header#header .header-top .header-content.container.flex-row .shopping-cart-wrap {
      width: 40px; }
      header#header .header-top .header-content.container.flex-row .shopping-cart-wrap .shopping-cart {
        width: 40px;
        height: 40px;
        cursor: pointer;
        position: relative;
        background-image: url(/svg/shopping-cart.svg);
        background-size: cover;
        background-position: center; }
        header#header .header-top .header-content.container.flex-row .shopping-cart-wrap .shopping-cart:after {
          content: attr(data-cart-items-count);
          position: absolute;
          right: -7px;
          top: -2px;
          padding: 3px 6px;
          font-size: 12px;
          color: #fff;
          -webkit-border-radius: 50%;
                  border-radius: 50%;
          background-color: #f34d4a; }
    header#header .header-top .header-content.container.flex-row .site-logo {
      width: 220px;
      font-size: 36px;
      font-weight: bold;
      color: #f34d4a;
      text-transform: uppercase;
      letter-spacing: -3px; }
      header#header .header-top .header-content.container.flex-row .site-logo span {
        text-transform: none; }

header#header .navbar {
  border-bottom: 1px solid #e8e8e8;
  border-top: 1px solid #e8e8e8; }
  header#header .navbar ul.container {
    text-align: center; }
    header#header .navbar ul.container li {
      display: inline-block;
      font-size: 13px;
      text-transform: uppercase;
      font-weight: bold;
      -webkit-transition: .2s ease-out;
      transition: .2s ease-out; }
      header#header .navbar ul.container li a {
        color: #1a2122;
        padding: 15px 25px;
        display: inline-block;
        -webkit-transition: .2s ease-out;
        transition: .2s ease-out; }
      header#header .navbar ul.container li:hover {
        background-color: #f34d4a; }
        header#header .navbar ul.container li:hover a {
          color: #fff; }
    header#header .navbar ul.container li + li {
      border-left: 1px solid #e8e8e8; }

.grid-menu {
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  padding: 40px 20px 40px; }
  .grid-menu--item {
    width: -webkit-calc(100% / 3 - 40px / 3);
    width: calc(100% / 3 - 40px / 3);
    height: 340px;
    padding: 20px 40px;
    cursor: pointer;
    margin-bottom: 20px;
    position: relative;
    background-color: #fee9e9;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    overflow: hidden; }
    .grid-menu--item:before {
      content: '';
      position: absolute;
      width: 1500px;
      height: 1500px;
      left: -webkit-calc(-95% - 50px);
      left: calc(-95% - 50px);
      top: -webkit-calc(-100% - 220px);
      top: calc(-100% - 220px);
      background-color: #fd7b7c;
      -webkit-border-radius: 50%;
              border-radius: 50%;
      -webkit-transition: .45s ease-out;
      transition: .45s ease-out;
      -webkit-transform: scale(0);
          -ms-transform: scale(0);
              transform: scale(0); }
    .grid-menu--item img {
      position: relative;
      z-index: 5;
      max-height: 100%;
      width: -webkit-calc(50% - 20px);
      width: calc(50% - 20px);
      max-width: 235px;
      -webkit-transition: .45s ease-out;
      transition: .45s ease-out; }
    .grid-menu--item .item-description-wrap {
      text-align: center;
      position: relative;
      width: -webkit-calc(55%);
      width: calc(55%); }
      .grid-menu--item .item-description-wrap .additional-url-btn {
        position: absolute;
        background-color: #fff;
        text-transform: uppercase;
        font-size: 14px;
        margin-top: 20px;
        width: 200px;
        left: -webkit-calc(50%);
        left: calc(50%);
        padding: 6px 10px;
        font-weight: bold;
        color: #fd7b7c;
        -webkit-transition: .35s ease-out;
        transition: .35s ease-out;
        -webkit-transform: translateY(200px) translateX(-50%);
            -ms-transform: translateY(200px) translateX(-50%);
                transform: translateY(200px) translateX(-50%); }
        .grid-menu--item .item-description-wrap .additional-url-btn:hover {
          opacity: .7; }
      .grid-menu--item .item-description-wrap h3 {
        color: #373737;
        font-size: 24px; }
      .grid-menu--item .item-description-wrap span {
        font-size: 14px;
        color: #808080;
        -webkit-transition: .45s ease-out;
        transition: .45s ease-out; }
    .grid-menu--item:hover:before {
      -webkit-transform: scale(1);
          -ms-transform: scale(1);
              transform: scale(1); }
    .grid-menu--item:hover img {
      -webkit-transform: scale(0.8);
          -ms-transform: scale(0.8);
              transform: scale(0.8); }
    .grid-menu--item:hover .item-description-wrap span {
      color: #fff; }
    .grid-menu--item:hover .additional-url-btn {
      -webkit-transform: translateY(0px) translateX(-50%);
          -ms-transform: translateY(0px) translateX(-50%);
              transform: translateY(0px) translateX(-50%); }

.our-partners {
  padding: 20px 0;
  border-top: 1px solid #e8e8e8;
  text-align: center; }
  .our-partners .container.flex-row .column {
    padding: 20px 0;
    text-align: left;
    width: -webkit-calc(100% / 2 - 10px);
    width: calc(100% / 2 - 10px); }
    .our-partners .container.flex-row .column p {
      font-size: 14px;
      line-height: 1.5;
      color: #444; }
    .our-partners .container.flex-row .column p + p {
      margin-top: 20px; }
    .our-partners .container.flex-row .column .flex-row {
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap; }
      .our-partners .container.flex-row .column .flex-row img {
        max-width: 130px;
        margin-bottom: 5px; }
  .our-partners .container.flex-row .column ~ .column {
    padding-left: 40px;
    border-left: 1px solid #e8e8e8; }
  .our-partners .section--title {
    font-size: 19px;
    margin-bottom: 25px;
    color: #1a2122;
    text-transform: uppercase;
    font-weight: bold; }

footer#footer {
  padding: 15px 0;
  background-color: #f9f9f9;
  border-top: 1px solid #e8e8e8;
  font-size: 12px; }
  footer#footer .copyright {
    color: #808080; }
  footer#footer .created-by {
    color: #444; }
    footer#footer .created-by a {
      font-weight: bold;
      color: #444;
      margin-left: 3px; }

@media screen and (max-width: 1440px) {
  .grid-menu--item {
    width: -webkit-calc(50% - 10px);
    width: calc(50% - 10px); } }

@media screen and (max-width: 980px) {
  header#header nav.navbar {
    display: none; }
  header#header .header-top .header-content.container.flex-row {
    border-bottom: 1px solid #e8e8e8; }
    header#header .header-top .header-content.container.flex-row .mobile-burger {
      display: block; }
  .grid-menu--item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start; }
    .grid-menu--item .item-description-wrap {
      width: 100%; }
      .grid-menu--item .item-description-wrap .additional-url-btn {
        -webkit-transform: translateY(-10px) translateX(-50%);
            -ms-transform: translateY(-10px) translateX(-50%);
                transform: translateY(-10px) translateX(-50%);
        background-color: #fd7b7c;
        color: #fff; }
    .grid-menu--item img {
      width: auto;
      margin-bottom: 20px;
      max-height: -webkit-calc(100% - 120px);
      max-height: calc(100% - 120px);
      margin-left: 0; } }

@media screen and (max-width: 768px) {
  .our-partners .container.flex-row {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
    .our-partners .container.flex-row .column {
      width: 100%; }
    .our-partners .container.flex-row .column ~ .column {
      padding-left: 0;
      border-left: none; }
  .grid-menu--item:before {
    display: none; }
  .grid-menu--item:hover .item-description-wrap span {
    color: #808080; } }

@media screen and (max-width: 640px) {
  .grid-menu--item {
    width: 100%; }
  footer#footer {
    padding: 30px 0; }
    footer#footer .flex-row {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center; }
      footer#footer .flex-row .copyright {
        margin-bottom: 5px; }
  header#header .header-top .header-content.container.flex-row {
    padding: 10px 20px; }
    header#header .header-top .header-content.container.flex-row .search-input-wrapper {
      width: -webkit-calc(100% - 220px);
      width: calc(100% - 220px);
      margin-right: 20px; }
    header#header .header-top .header-content.container.flex-row .shopping-cart-wrap {
      width: 30px; }
      header#header .header-top .header-content.container.flex-row .shopping-cart-wrap .shopping-cart {
        width: 30px;
        height: 30px; }
    header#header .header-top .header-content.container.flex-row .site-logo {
      font-size: 24px;
      letter-spacing: -1px;
      margin-left: 20px; }
    header#header .header-top .header-content.container.flex-row .mobile-burger {
      width: 20px;
      height: 20px;
      -webkit-flex-basis: 20px;
          -ms-flex-preferred-size: 20px;
              flex-basis: 20px; } }

@media screen and (max-width: 480px) {
  .grid-menu--item .item-description-wrap h3 {
    font-size: 19px;
    margin-bottom: 10px; }
  header#header .header-top-bar {
    background-color: #fff; }
    header#header .header-top-bar .container.flex-row {
      -webkit-box-pack: start;
      -webkit-justify-content: flex-start;
          -ms-flex-pack: start;
              justify-content: flex-start; }
      header#header .header-top-bar .container.flex-row .phone-numbers-wrap {
        color: transparent;
        margin-right: 10px; }
        header#header .header-top-bar .container.flex-row .phone-numbers-wrap a:nth-of-type(2) {
          display: none; }
  header#header .header-top .header-content.container.flex-row {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start; }
    header#header .header-top .header-content.container.flex-row .search-input-wrapper {
      width: 25px;
      margin-right: 10px; }
      header#header .header-top .header-content.container.flex-row .search-input-wrapper .mobile-search-icon {
        display: block; }
      header#header .header-top .header-content.container.flex-row .search-input-wrapper:after,
      header#header .header-top .header-content.container.flex-row .search-input-wrapper .site-search-input {
        display: none; }
    header#header .header-top .header-content.container.flex-row .site-logo {
      font-size: 22px;
      width: -webkit-calc(100% - 85px);
      width: calc(100% - 85px); } }
